.title {
  text-transform: uppercase;
  border-radius: 800px;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem 2rem; 
  background-color: #FCFEA7;
  border-color: #ee4b08;
  border-width: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  font-family: fantasy;
  font-size: 3em;
  border-bottom: 5px solid pink;
  border-right: 5px solid pink;
  border-left: 5px solid pink;
  border-width: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  font-family: fantasy;
  font-size: 3em;
  border-bottom: 5px solid pink;
  border-right: 5px solid pink;
  border-left: 5px solid pink;
}

.img {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.description {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  flex-grow: 0;

}
.text {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 200px
}

img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}